body,html {
	width   : 100%;
	height  : 100%;
	padding : 0px;
	margin  : 0px;
	font-size   : 14px;
	font-family : "Microsoft YaHei","arial,helvetica,sans-serif";
	overflow : hidden;
	background-color : #8e7a7b;
}

a {
	color : #00aff0;
}
a:hover{
	color : #ee028b;
}

.vvScene {
	width  : 320px;
	height : 480px;
	background-color : #ffffff;
	z-index  : 1;
	position : absolute;
	top  : 50%;
	left : 50%;
	margin-top  : -240px;
	margin-left : -160px;
}

.vvMenu {
	width  : 150px;
	background-color : #ffffff;
	z-index  : 1;
	position : absolute;
	top  : 50%;
	left : 50%;
	margin-top  : -240px;
	margin-left : -340px;
	padding : 10px;
}

.vvDownLoad {
	padding-top : 10px;
	height   : 30px;
	position : relative;
}

.vvDownLoadIcon {
	position : absolute;
	left : 0px;
	width : 30px;
}

.vvDownLoadText {
	position  : absolute;
	font-size : 16px;
	left : 40px;
	line-height : 37px;
}

.backBtn  {
	width  : 40px;
	height : 40px;
	background-color : #feeeed;
	border-radius : 50px;
	position : absolute;
	right : 10px;
	top  : 10px;
	z-index : 999;
	opacity : 0.5;
	cursor  : pointer;
}
.backIcon {
	width  : 30px;
	height : 30px;
	position : absolute;
	background-image : url(images/backIcon.png);
	left : 50%;
	top  : 50%;
	margin-top : -15px;
	margin-left : -15px;
	background-size : 30px 30px;
	cursor  : pointer;
}

.fl {
	float : left;
}
.fr {
	float : right;
}

.clearFix {
	*zoom:1;  /* for IE 6 7 */
}
.clearFix:before {
	content : " ";
	display : block;
} 
.clearFix:after {
	clear   : both;
	content : " ";
	display : block;
}
.unSelect {
	user-select : none;
	-webkit-user-select : none;
	-moz-user-select : none;
	moz-user-select  : -moz-none;
	-o-user-select   : none;
	-ms-user-select  : none;
	-khtml-user-select : none;
}