.vvHomeScene {
	width    : 850px;
	padding  : 5px;
	margin   : 0px auto;
}

.homeTitle {
	width : 100%;
}

.demoList {
	margin : 5px;
	width  : 140px;
	height  : 170px;
	background-color : #ffffff;
	float  : left;
	overflow : hidden;
}

.demoGroup {
	width : 100%;
	margin-top : 60px;
}

.downBtn {
	width : 200px;
	height : 40px;
	color  : #ffffff;
	font-size : 16px;
	text-align : center;
	line-height : 40px;
	border-radius : 5px;
	background-color : #00acec;
	float : right;
	cursor : pointer;
}

.downBtn:active {
	background-color : #6fd6fd;
}

.demoThumb {
	height   : 140px;
	overflow : hidden;
}

.demoThumb img {
	height : 100%;
	margin : 0px;
	padding : 0px;
}

.demoThumbText {
	height : 29px;
	line-height : 29px;
	text-align : center;
	color : #00b5f9;
	cursor : pointer;
	border-top : 1px solid #8e7a7b;
}

a {
	color : #00b5f9;
	text-decoration : none;
}

a:hover {
	color : #f0018c;
}